.returnchart, .filtersdata, #regions_div {
	display: none;
}
.container {
	width: 800px;
	margin: 0 auto;
}

#regions_div {
  margin: 0 auto;
  clear: both;
}

.universal_table {
	width: 90%;
	margin: 0 auto;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  background: #ffffff; 
  color: #414141;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

form {
  border: 1px solid black;
  padding: 10px 20px;
}

select {
    width: 200px;
    margin: 0 10px;
}

label.control-label {
    width: 140px;
}

.btn-success {
    margin: 9px 0 0 155px;
    width: 200px;
}
.text-instruction {
    float: left;
    width: 325px;
    font-size: 16px;
    padding: 10px 0;
}
#filtersform {
    width: 410px;
    float: right;
}